body {
  background-image: url("../assets/login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #58595b;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

form {
  background-color: white;
  width: 300px;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 60px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
img {
  max-width: 100%;
  margin-bottom: 20px;
}
.signup-img {
  max-width: 80%;
  margin-left: 10%;
}

label {
  display: block;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
}

input:focus {
  border-bottom: 2px solid #f09a66;
}
i {
  margin-left: -14px;
}
button {
  width: 50%;
  margin-left: 25%;
  padding: 10px;
  background-color: #f09a66;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
}
.password-container {
  display: flex;
}
.signupform {
  width: 350px;
}
.password-toggle-icon {
  color: #f09a66;
  font-size: 18px;
  cursor: pointer;
}
